.grid {
}

.grid .gridItem {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
}

.noGutter {
  margin-left: 0;
}

.noGutter .gridItem {
  padding-left: 0;
}

.narrowGutter {
  margin-left: -18px;
}

.narrowGutter .gridItem {
  padding-left: 18px;
}

@media (max-width: 740px) {
  .grid {
    margin-left: -24px;
  }
  .grid .gridItem {
    padding-left: 24px;
  }
}

@media (max-width: 768px) and (min-width: 521px) {
  .gridItem.tablet1of1 {
    width: 100% !important;
  }

  .gridItem.tablet1of2 {
    width: 50% !important;
  }

  .gridItem.tablet1of3 {
    width: calc(100% / 3) !important;
  }

  .gridItem.tablet2of3 {
    width: calc(100% / 3 * 2) !important;
  }
}

@media (max-width: 700px) and (min-width: 521px) {
  .gridItem.phablet1of1 {
    width: 100% !important;
  }

  .gridItem.phablet1of2 {
    width: 50% !important;
  }
}

@media (max-width: 520px) {
  .gridItem.mobile1of1 {
    width: 100% !important;
  }

  .gridItem.mobile1of2 {
    width: 50% !important;
  }
}
