@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

$roboto: 'Roboto';

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: $roboto;
}
